[workspace]
members = ["rlbot", "rlbot_flat"]
resolver = "3"
package.license-file = "LICENSE"
package.version = "0.1.0"

[profile.release]
lto = "fat"
opt-level = 3
codegen-units = 1
panic = "abort"

[profile.dev]
opt-level = 3
codegen-units = 1
panic = "abort"
